/* Background color around the wrapper element*/
body{
    background-color: black; 
}
/* styling wrapper and wrapper header*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(15,26,32);
    background: radial-gradient(circle, rgba(15,26,32,1) 0%, rgba(244,71,8,1) 49%, rgba(110,14,10,1) 100%);  
    margin: 0 auto;
    border: 2px solid #fa3b3b; 
    width: 80vw;
}

.wrapper header {
        width: 90%;
        background-color: #fd8f30; 
        margin: 0 auto;
}

/*centering/ resizing wrapper image and making it responsive with filters */
 section {
    display: block;
    max-width: 300px;
    width: 100%; 
    margin: 0 auto; 
}

 section img {
    width: 100%;
    height: auto; 
    transition: filter 0.3s ease;
}

section img:hover {
    filter: grayscale(100%) contrast(1.2) invert(75%) blur(1px) drop-shadow(30px 30px 100px rgb(20, 20, 20));
}

/*aligning and coloring all text elements except for the paragraph element*/
h1, h2, h3, ul, li {
    text-align: center;
    color: #000000;
    list-style: none;
}

footer p{
    text-align: center;
    color: #000000;
    list-style: none;
}
/* simple alignment */
.wrapper p{
    text-align: center;
    width: 100ch;
}

/* only odd list items bolded */
 li:nth-child(odd){
    font-weight: bolder;
}